.mat-table{
  background: #fff;
  border-radius: 30px;
  margin-top: 30px;
  font-weight: 300;
  width: 100%;
}
.mat-cell, .mat-header-cell{
  color: #777a78;
}

.mat-header-row {
    border-radius: 10px  10px 0 0;
}
.mat-header-cell{
  text-transform: uppercase;
  color: #5b5d5d !important;

}

.mat-column-amount{
  color:#50bb46;
  font-weight: bold;
  margin-left: auto;
  justify-content: flex-end;
display: flex;

.mat-header-cell{
  color: #5b5d5d;
}

}
::ng-deep .mat-row{
  border-bottom-width: 0.4px !important;
  cursor: pointer;
}