<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p>welcome</p>
  <div class="spacer"></div>
  <div class="uimage">
    <p class="name">Meshack</p>
  </div>
</div>

<div class="content" role="main">

  <!-- Overview -->
  <h2>Loans Overview</h2>

  <app-loan-stats-header
    [totalLoan]="totalLoan"
    [totalOutstanding]="totalOutstanding"
  ></app-loan-stats-header>
  <section class="table-section">
    <ng-container 
      *ngIf="isLoanPerformance || isFarmerPerformance; then thenTemplate; else displayOfficer"></ng-container>
    <ng-template #thenTemplate>
      <app-loans-table 
        [tableType]="'table1'"
        [columnNames]="columnNames"
        class="loan-table-component" 
        [displayColumns]="displayColumns" 
        [dataSource]="dataSource"
        (clickEvent)="handleClick($event)">
      </app-loans-table>
    </ng-template>
    <ng-template #displayOfficer>
      <app-officer-performance class="sect-officer"></app-officer-performance>
    </ng-template>
    
    <ng-container *ngIf="isFarmerPerformance; then displayChart; else elseTemplate"></ng-container>
    <ng-template #displayChart>
      <app-farmers-chart 
        [chartName]="'Farmer Perfomance'" [dataPoints$]="submitDataPoint$" class="loan-chart-component">
      </app-farmers-chart>
    </ng-template>
    <ng-template #elseTemplate>
      
    </ng-template>
    
  </section>
  <input type="hidden" #selection>

</div>