
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #aab0b5;
    font-weight: 600;
    margin: 0 30px;
    p{
      font-weight: 300;
    }
  }


  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin:  auto;
    padding: 32px 16px;
    flex-direction: column;
    background: #f8fafb;
    h2{
      font-weight: 300;    
      color: #666d74;
    }
  }
.sect-officer{
  display: flex;
  flex-direction: row;
  width: 100%;
}