
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #aab0b5;
    font-weight: 600;
    margin: 0 30px;
    p{
      font-weight: 300;
    }
  }


  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin:  auto;
    padding: 32px 16px;
    flex-direction: column;
    background: #f8fafb;
    h2{
      font-weight: 300;    
      color: #666d74;
    }
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    
  }


  .card-container .card:not(:last-child) {
    margin-right: 4px;
  }


  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }